.loadButton {
    display: block;
    margin: auto;
    width: 150px;
    height: 40px;
    border: 2px solid #f2efef;
    border-radius: 50px;
    background-color: #4a6e24;
    color: #f2efef;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.loadButton:hover,
.loadButton:focus {
    color: #555450fc;
    background-color: #f07f2d;
}